@charset "utf-8";
/********** css responsive init **********/

html,body{height: 100%;}
body{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1240px;margin: 0 auto}

/* header */
#header{
    position: fixed;width: 100%;z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
#header.fixed{
    position: fixed;
    background-color:white;
}
.hd-logo>a {
    display: block;
    width: 250px;
    height: 1.875rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;justify-content: center;align-items: center;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.navbarWrap{display: flex;padding: 20px 0 0 0 0;}
.navbarWrap>h1{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;justify-content: center;align-items: center;
}
.navbarWrap>h1.fixed{
    background-image: url(../images/kor_logo1.png);
}
.navbar{margin-left: auto;}
.navbar>ul>li>a.fixed{color:#000}
.navbar>ul{display: flex;height: 100%;}
.navbar>ul>li{position: relative;}
.lang{display: flex;justify-content: center;align-items: center;}
.kor,.eng{
    width: 50px;height: 50px;
    border: 1px solid #e52f42;color: white;
    text-align: center;line-height: 50px;cursor: pointer;
}
.kor.active,.eng.active{background: #e52f42;color: white;}
.kor.active.fixed,.eng.active.fixed{background: #e52f42;color: white;}
.kor.fixed,.eng.fixed{
    color: #000;
}

.navbar>ul>li>a{
    height: 100%;display: flex;justify-content: center;align-items: center;
    padding: 30px 20px;font-size: 18px;color: white;
}
.navbar>ul>li i{display: none;}
.navbar>ul>li .aBar{
    position: absolute;width: 100%;height: 3px;background: red;bottom: 0;
    transform: scale(0);transition: .3s;
}
.navbar>ul>li .submenu{
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;top: 84px;width: 100%;padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;transform: translateY(20px);transition: 0.3s;
    opacity: 0;visibility: hidden;box-shadow: 0 0 10px rgba(0, 0, 0, .3);

}
.submenu li{display: block;line-height: 30px;text-align: center;}
.submenu li:hover{font-weight: bold;}
.navbar>ul>li.on .submenu{
    transform: translateY(0px);opacity: 1;
    visibility: visible;
}
.navbar>ul>li.on .aBar{transform: scale(1);}

/* visual */

.visualWrap{
    position: relative;
    height: 100vh;
    min-height: 800px;
}
.visualWrap .slidetxtWrap{
    display: flex;justify-content: center;align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
}
.visualWrap .slidetxtWrap .slidetxt{position: absolute;top: 180px;}
.visualWrap .slidetxtWrap .num{display: none;}
.visualWrap .slidetxtWrap h2{font-size: 80px;margin-bottom: 20px;font-weight: 900;}
.visualWrap .slidetxtWrap h2 span{color: #e52f42;}
.visualWrap .slidetxtWrap p{font-size: 18px;}
.visualWrap .slideItem{
    height: 100vh;min-height: 800px;
    background-color: orange;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.snext,.sprev{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
.snext{right: 30px;}
.sprev{left: 30px;}
.visualWrap li>img{width: 100%;}


/* toggle  */
.toggle{
    width: 40px;height: 40px;display: flex;
    display: none;
}


.navbarClone,.overlay{display: none;}

/* contents */

.contents{
    margin-top: -310px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.contents>ul{display: flex;flex-wrap: wrap;position: relative;}
.contents>ul>li{
    position: relative;
    flex-grow: 1;
    flex-basis: 25%;
    height: 310px;
    cursor: pointer;
}
.contents>ul>li:nth-child(3),
.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(11){
    flex-grow: 0;
    flex-basis: 50%;
    _width: 50%;
}
.contents>ul>li:nth-child(7){
    height: 620px;
}
.contents>ul>li:nth-child(10){
    flex-grow: 0;
    position: absolute;right: 620px;bottom: 0;
    width: 310px;
}
.contents>ul>li:nth-child(11){
    flex-grow: 0;
    position: absolute;right: 0;bottom: 0;
    width: 620px;
}
.contents>ul>li:nth-child(1) h3,
.contents>ul>li:nth-child(5) h3,
.contents>ul>li:nth-child(9) h3,
.contents>ul>li:nth-child(10) h3{
    display: flex;
    justify-content: center;align-items: center;color: white;
}
.contents>ul>li:nth-child(1),
.contents>ul>li:nth-child(4),
.contents>ul>li:nth-child(5),
.contents>ul>li:nth-child(9),
.contents>ul>li:nth-child(10){
    display: flex;
    justify-content: center;align-items: center;color: white;
}
.contents>ul>li:nth-child(1) img,
.contents>ul>li:nth-child(4) img,
.contents>ul>li:nth-child(5) img,
.contents>ul>li:nth-child(9) img,
.contents>ul>li:nth-child(10) img{
    margin: 0 auto;margin-bottom: 10px;
}
.contents>ul>li:nth-child(1){background: #e52f42;}
.contents>ul>li:nth-child(4){background: #f8f9fa;color: #000;}
.contents>ul>li:nth-child(5){background: #313033;}
.contents>ul>li:nth-child(9){background: #e52f42;}
.contents>ul>li:nth-child(10){background: #313033;}

.contents>ul>li:nth-child(2){
    background: url(../images/video.jpg) no-repeat center;
    display: flex;justify-content: center;align-items: center;
}
.contents>ul>li:nth-child(2):hover img{
    transform: scale(1.2);
}
.contents>ul>li:nth-child(2) img{
    transition: .3s;
}
/* slide 1 */







/* slide 2 */

.bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc ;
    -webkit-box-shadow: 0 0 0px #ccc ;
    box-shadow: 0 0 0px #ccc ;
    border: 0px none;
}

.visualWrap .bx-wrapper .bx-pager,
.visualWrap .bx-wrapper .bx-controls-auto {
  position: absolute;
  top: 620px;
  width: 100%;
}
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 40px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
  }
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: white;
  }
 
.prev,.next{
    width: 40px;height: 40px;
    display: flex;justify-content: center;align-items: center;
    color: #313033;
}
.prev i,.next i{font-size: 20px;}
.contents>ul>li:nth-child(3){height: 310px;}
.itemWrap{display: flex;}
.sItems{background: #f8f9fa;}
.sItems .sTxt,.sItems .sImg{width: 310px;height: 310px;}
.sItems .sTxt{position: relative;}
.sItems .sImg{overflow: hidden;}
.sItems .sTxt:after{
    content: "";display: block;
    width: 0px;height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent #f8f9fa;
    position: absolute;top: 50%;right: -40px;margin-top: -20px;
}
.sItems .txt{padding: 30px;}
.sItems .txt h3{font-size: 20px;}
.sItems .txt .tt1{color: #e52f42;}
.sItems .txt .tt2{color: #8e8e8e;}
.sItems .txt .tt3 span{font-weight: bold;}
.sBtn{position: absolute;bottom: 10px;display: flex;gap: 5px;left: 210px;}

.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(7),
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(11){
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contents>ul>li:nth-child(7) h2,.contents>ul>li:nth-child(7) .txt,
.contents>ul>li:nth-child(11) h2,.contents>ul>li:nth-child(11) .txt{color: white;}
.contents>ul>li:nth-child(7) h2,
.contents>ul>li:nth-child(11) h2{padding-bottom: 30px;}
.contents>ul>li:nth-child(11) img{position: absolute;top: 125px;left: 150px;}
.txt-card{
    position: absolute;
    left: 40px;top: 40px;
}
.contents>ul>li:nth-child(8){background: white;}
.contents>ul>li:nth-child(8) .numWrap{display: flex;justify-content: center;align-items: center;}
.contents>ul>li:nth-child(8) div{}
.contents>ul>li:nth-child(8) img{margin: 0 auto;}
.contents>ul>li:nth-child(8) .txtWrap{text-align: center;
    
}

.txt-card h2{
    font-size: 36px;font-weight: 900;color: #313033;
    padding-bottom: 10px;
}
/* .txt-card h2:after{
    content: "";display: block;width: 100px;height: 3px;
    background: black;margin: 15px 0;
} */
.txt-card .txt{font-size: 18px;padding-bottom: 90px;}
.txt-card span{font-size: 16px;}
.txt-card span:after{
    content: "";display: block;width: 80px;height: 1px;
    background: black;
}

/********** css responsive **********/
@media (max-width: 1399px) {
    .navbar>ul>li>a{
        padding: 30px 20px;
    }

}

@media (max-width: 1199px) {
    .navbar>ul>li>a{
        padding: 30px 20px;
    }
    .contents>ul>li:nth-child(1){order: 1;}
    .contents>ul>li:nth-child(4){order: 2;}
    .contents>ul>li:nth-child(5){order: 3;}
    .contents>ul>li:nth-child(9){order: 4;}

    .contents>ul>li:nth-child(1),
    .contents>ul>li:nth-child(4),
    .contents>ul>li:nth-child(5),
    .contents>ul>li:nth-child(9){
        height: initial;padding: 20px;
    }
    .contents>ul>li:nth-child(1),
    .contents>ul>li:nth-child(4),
    .contents>ul>li:nth-child(5),
    .contents>ul>li:nth-child(9){
        width: 100%;
    }

    .contents>ul>li:nth-child(3){width: 100%;flex-basis: auto;}
    .contents>ul>li:nth-child(2),
    .contents>ul>li:nth-child(7),
    .contents>ul>li:nth-child(10)
    {display: none;}
    .contents>ul>li:nth-child(11){position: initial;}

    .sItems .sTxt{position: relative;z-index: 1;}
    .sItems .sImg{position: relative;overflow: hidden;}
    .sItems .sImg img{
        position: absolute;
        left: 50%;top: 50%;
        transform: translate(-50%,-50%) scale(1.6);
    }
    .sBtn{left: 40px;}
    

}

@media (max-width: 991px) {
    .navbarWrap{padding: 10px 20px;}

}

@media (max-width: 767px) {
    .navbarWrap>h1{margin-left: -50px;}
    .container{width: 100%;}
    .navbarWrap>h1{transform: scale(0.7);}

    .toggle{
        display: flex;justify-content: center;align-items: center;
        margin-left: auto;width: 20px;height: 20px;padding: 20px 10px;
        position: relative;z-index: 1;
        cursor: pointer;
    }

    .toggle div{
        width: 20px;height: 4px;background: #fff;
        position: absolute;transition: .5s;
    }
    .toggle div.fixed{background: #000;}

    .toggle .bar1{transform: translateY(-8px);}
    .toggle .bar3{transform: translateY(8px);}

    .toggle.active .bar1{transform: translateY(0) rotate(315deg);}
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{transform: translateY(0) rotate(-315deg);}
    .toggle.active div{background-color: #000;}
    
    .navbarClone{
        display: block;
        position: fixed;
        top: 0;right: 0;
        width: 60%;height: 100%;background: white;
        transition: 0.5s;
    }
    .overlay{
        display: block;
        position: fixed;
        width: 100%;height: 100%;
        right: 0;top: 0;
        background: #000;
        opacity: 0.5;
    }
    .navbar{display: none;}
    .menu{padding: 80px 0;}
    .menu>li{display: block;}
    .menu>li>a{
        display: flex;height: 40px;align-items: center;justify-content: space-between;
        padding: 30px 20px;font-weight: bold;font-size: 17px;color: #111;
    }
    .menu>li>a i{transition: .3s;font-size: 10px;color: #c4c4c4;}
    .menu>li.hover .submenu{
        display: block;
    }
    .menu>li>a.active i{
        transform: rotate(180deg);
    }
    .menu>li .submenu{background: #F8F8F8;padding: 10px 20px;}
    .menu>li .submenu a{
        display: block;line-height: 30px;
        padding: 5px;
    }
    .submenu{display: none;}
    .submenu>li{text-align: left;}
    .lang{display: none;}
    .sItems .sTxt,.sItems .sImg{flex-grow: 1;}

    /* visual */

    .visualWrap{
        position: relative;
        height: 100vh;
    }
    .visualWrap .slidetxtWrap{
        display: flex;justify-content: center;align-items: center;
        text-align: center;
        color: white;
        font-size: 30px;
    }
  
    .visualWrap .slidetxtWrap .slidetxt{
        position: absolute;top: 300px;left: 30px;
        text-align: left;
    }
    .visualWrap .slidetxtWrap .num{display: block;}
    .visualWrap .slidetxtWrap h2{font-size: 40px;margin-bottom: 20px;font-weight: 900;}
    .visualWrap .slidetxtWrap h2 span{color: #e52f42;}
    .visualWrap .slidetxtWrap p{font-size: 15px;}
    .visualWrap .slideItem{
        height: 100vh;min-height: 800px;
        background-color: orange;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .snext,.sprev{
        position: absolute;
        top: 715px;
        margin-top: -50px;
        cursor: pointer;
        transform: scale(0.3);
    }
    .snext{right: 10px;}
    .sprev{left: 10px;}
    .visualWrap li>img{width: 100%;}

    .visualWrap .bx-wrapper .bx-pager,
.visualWrap .bx-wrapper .bx-controls-auto {
  position: absolute;
  top: 670px;
  width: 100%;
}
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 30px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
  }
  .contents{
    margin-top: -50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

    

}



    






@media (max-width: 575px) {
    .contents>ul>li:nth-child(3){height: 250px;}
    .sItems .sTxt,.sItems .sImg{height: 250px;}
    .sBtn{display: none;}
} 


/* common */
.bg_gray{background: #eee !important;}