@charset "utf-8";
/********** css responsive init **********/

@font-face {font-family:MalgunGothic; src:url(/07company/font/MalgunGothic.eot);}
html,body{height: 100%;}
body{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1240px;margin: 0 auto}

/* header */
#header{
    position: fixed;width: 100%;z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
#header.fixed{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
}
.navbarWrap{display: flex;padding: 20px 0 0 0 0;}
.navbarWrap>h1{display: flex;justify-content: center;align-items: center;}
.navbar{margin-left: auto;}
.navbar>ul{display: flex;height: 100%;}
.navbar>ul>li{position: relative;}
.lang{display: flex;justify-content: center;align-items: center;}
.kor,.eng{
    width: 50px;height: 50px;
    border: 1px solid #e52f42;color: white;
    text-align: center;line-height: 50px;cursor: pointer;
}
.kor.active,.eng.active{background: #e52f42;}

.navbar>ul>li>a{
    height: 100%;display: flex;justify-content: center;align-items: center;
    padding: 30px 40px;font-size: 18px;color: white;
}
.navbar>ul>li i{display: none;}
.navbar>ul>li .aBar{
    position: absolute;width: 100%;height: 3px;background: red;bottom: 0;
    transform: scale(0);transition: .3s;
}
.navbar>ul>li .submenu{
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;top: 84px;width: 100%;padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;transform: translateY(20px);transition: 0.3s;
    opacity: 0;visibility: hidden;box-shadow: 0 0 10px rgba(0, 0, 0, .3);

}
.submenu li{display: block;line-height: 30px;text-align: center;}
.submenu li:hover{font-weight: bold;}
.navbar>ul>li.on .submenu{
    transform: translateY(0px);opacity: 1;
    visibility: visible;
}
.navbar>ul>li.on .aBar{transform: scale(1);}

/* visual */

.visualWrap{
    background-image: url(../images/main-slide-item-01-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.topMenu{margin-left:auto}
.topNav{
    display: flex;
    height: 100%;
}
.topNav a{
    display: flex;align-items: center;
    padding: 0 20px;
}
.topNav a:hover{background: pink;}
.topNav a i{margin-right:5px;}



/* toggle  */
.toggle{
    width: 40px;height: 40px;display: flex;
    display: none;
}


.navbarClone,.overlay{display: none;}

/* contents */

.contents{
    margin-top: -310px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.contents>ul{display: flex;flex-wrap: wrap;position: relative;}
.contents>ul>li{
    position: relative;
    flex-grow: 1;
    flex-basis: 25%;
    height: 310px;
    cursor: pointer;
}
.contents>ul>li:nth-child(3),
.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(11){
    flex-grow: 0;
    flex-basis: 50%;
    _width: 50%;
}
.contents>ul>li:nth-child(7){
    height: 620px;
}
.contents>ul>li:nth-child(10){
    flex-grow: 0;
    position: absolute;right: 620px;bottom: 0;
    width: 310px;
}
.contents>ul>li:nth-child(11){
    flex-grow: 0;
    position: absolute;right: 0;bottom: 0;
    width: 620px;
}
.contents>ul>li:nth-child(1) h3,
.contents>ul>li:nth-child(5) h3,
.contents>ul>li:nth-child(9) h3,
.contents>ul>li:nth-child(10) h3{
    display: flex;
    justify-content: center;align-items: center;color: white;
}
.contents>ul>li:nth-child(1),
.contents>ul>li:nth-child(4),
.contents>ul>li:nth-child(5),
.contents>ul>li:nth-child(9),
.contents>ul>li:nth-child(10){
    display: flex;
    justify-content: center;align-items: center;color: white;
}
.contents>ul>li:nth-child(1) img,
.contents>ul>li:nth-child(4) img,
.contents>ul>li:nth-child(5) img,
.contents>ul>li:nth-child(9) img,
.contents>ul>li:nth-child(10) img{
    margin: 0 auto;margin-bottom: 10px;
}
.contents>ul>li:nth-child(1){background: #e52f42;}
.contents>ul>li:nth-child(4){background: #f8f9fa;color: #000;}
.contents>ul>li:nth-child(5){background: #313033;}
.contents>ul>li:nth-child(9){background: #e52f42;}
.contents>ul>li:nth-child(10){background: #313033;}

.contents>ul>li:nth-child(2){
    background: url(../images/video.jpg) no-repeat center;
    display: flex;justify-content: center;align-items: center;
}
.contents>ul>li:nth-child(2):hover img{
    transform: scale(1.2);
}
.contents>ul>li:nth-child(2) img{
    transition: .3s;
}

.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(7),
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(11){
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contents>ul>li:nth-child(7) h2,.contents>ul>li:nth-child(7) .txt,
.contents>ul>li:nth-child(11) h2,.contents>ul>li:nth-child(11) .txt{color: white;}
.contents>ul>li:nth-child(7) h2,
.contents>ul>li:nth-child(11) h2{padding-bottom: 30px;}
.contents>ul>li:nth-child(11) img{position: absolute;top: 125px;left: 150px;}
.txt-card{
    position: absolute;
    left: 40px;top: 40px;
}
.contents>ul>li:nth-child(8){background: white;}
.txt-card h2{
    font-size: 36px;font-weight: 900;color: #313033;
    padding-bottom: 10px;
}
/* .txt-card h2:after{
    content: "";display: block;width: 100px;height: 3px;
    background: black;margin: 15px 0;
} */
.txt-card .txt{font-size: 18px;padding-bottom: 90px;}
.txt-card span{font-size: 16px;}
.txt-card span:after{
    content: "";display: block;width: 80px;height: 1px;
    background: black;
}

/********** css responsive **********/
@media (max-width: 1399px) {
    .navbarWrap{padding: 10px 20px;}
}

@media (max-width: 1199px) {
    .navbarWrap{padding: 10px 20px;}
}

@media (max-width: 991px) {
    .navbarWrap{padding: 10px 20px;}
}

@media (max-width: 767px) {
     body{background: gold;}
    .container{width: 100%;}
    .navbarWrap>h1{transform: scale(0.7);}

    .toggle{
        display: flex;justify-content: center;align-items: center;
        margin-left: auto;width: 20px;height: 20px;padding: 20px 10px;
        position: relative;z-index: 1;
        cursor: pointer;
    }

    .toggle div{
        width: 20px;height: 4px;background: #fff;
        position: absolute;transition: .5s;
    }

    .toggle .bar1{transform: translateY(-8px);}
    .toggle .bar3{transform: translateY(8px);}

    .toggle.active .bar1{transform: translateY(0) rotate(315deg);}
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{transform: translateY(0) rotate(-315deg);}
    .toggle.active div{background-color: #000;}
    
    .navbarClone{
        display: block;
        position: fixed;
        top: 0;right: 0;
        width: 60%;height: 100%;background: white;
        transition: 0.5s;
    }
    .overlay{
        display: block;
        position: fixed;
        width: 100%;height: 100%;
        right: 0;top: 0;
        background: #000;
        opacity: 0.5;
    }
    .navbar{display: none;}
    .menu{padding: 80px 0;}
    .menu>li{display: block;}
    .menu>li>a{
        display: flex;height: 40px;align-items: center;justify-content: space-between;
        padding: 30px 20px;font-weight: bold;font-size: 17px;color: #111;
    }
    .menu>li>a i{transition: .3s;font-size: 10px;color: #c4c4c4;}
    .menu>li.hover .submenu{
        display: block;
    }
    .menu>li>a.active i{
        transform: rotate(180deg);
    }
    .menu>li .submenu{background: #F8F8F8;padding: 10px 20px;}
    .menu>li .submenu a{
        display: block;line-height: 30px;
        padding: 5px;
    }
    .submenu{display: none;}
    .submenu>li{text-align: left;}
    .lang{display: none;}
}
    






@media (max-width: 575px) {

}


/* common */
.bg_gray{background: #eee !important;}