@charset "utf-8";
/********** css responsive init **********/

html,body{height: 100%;}
body{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1240px;margin: 0 auto}

/* header */
#header{
    position: fixed;width: 100%;z-index: 100;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
#header.fixed{
    position: fixed;
    background-color:white;
}
.hd-logo>a {
    display: block;
    width: 250px;
    height: 1.875rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;justify-content: center;align-items: center;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.navbarWrap{display: flex;padding: 20px 0 0 0 0;}
.navbarWrap>h1{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;justify-content: center;align-items: center;
}
.navbarWrap>h1.fixed{
    background-image: url(../images/kor_logo1.png);
}
.navbar{margin-left: auto;}
.navbar>ul>li>a.fixed{color:#000}
.navbar>ul{display: flex;height: 100%;}
.navbar>ul>li{position: relative;}
.lang{display: flex;justify-content: center;align-items: center;}
.kor,.eng{
    width: 50px;height: 50px;
    border: 1px solid #e52f42;color: white;
    text-align: center;line-height: 50px;cursor: pointer;
}
.kor.active,.eng.active{background: #e52f42;color: white;}
.kor.active.fixed,.eng.active.fixed{background: #e52f42;color: white;}
.kor.fixed,.eng.fixed{
    color: #000;
}

.navbar>ul>li>a{
    height: 100%;display: flex;justify-content: center;align-items: center;
    padding: 30px 30px;font-size: 18px;color: white;
}
.navbar>ul>li i{display: none;}
.navbar>ul>li .aBar{
    position: absolute;width: 100%;height: 3px;background: red;bottom: 0;
    transform: scale(0);transition: .3s;
}
.navbar>ul>li .submenu{
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;top: 84px;width: 100%;padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;transform: translateY(20px);transition: 0.3s;
    opacity: 0;visibility: hidden;box-shadow: 0 0 10px rgba(0, 0, 0, .3);

}
.submenu li{display: block;line-height: 30px;text-align: center;}
.submenu li:hover{font-weight: bold;}
.navbar>ul>li.on .submenu{
    transform: translateY(0px);opacity: 1;
    visibility: visible;
}
.navbar>ul>li.on .aBar{transform: scale(1);}

/* visual */

.visualWrap{
    position: relative;
    height: 100vh;
    min-height: 800px;
}
.visualWrap .slidetxtWrap{
    display: flex;justify-content: center;align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
}
.visualWrap .slidetxtWrap .slidetxt{position: absolute;top: 180px;}
.visualWrap .slidetxtWrap .num{display: none;}
.visualWrap .slidetxtWrap h2{font-size: 80px;margin-bottom: 20px;font-weight: 900;}
.visualWrap .slidetxtWrap h2 span{color: #e52f42;}
.visualWrap .slidetxtWrap p{font-size: 18px;}
.visualWrap .slideItem{
    height: 100vh;min-height: 800px;
    background-color: orange;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.snext,.sprev{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
.snext{right: 30px;}
.sprev{left: 30px;}
.visualWrap li>img{width: 100%;}


/* toggle  */
.toggle{
    width: 40px;height: 40px;display: flex;
    display: none;
}


.navbarClone,.overlay{display: none;}

/* contents */

.contents{
    margin-top: -310px;
    margin-bottom: 80px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
}
.contents>ul{display: flex;flex-wrap: wrap;position: relative;}
.contents>ul>li{
    position: relative;
    flex-grow: 1;
    flex-basis: 25%;
    height: 310px;order: 11;
}
.contents>ul>li:nth-child(3),
.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(11){
    flex-grow: 0;
    flex-basis: 50%;
    _width: 50%;
}
.contents>ul>li:nth-child(7){
    height: 620px;
}
.contents>ul>li:nth-child(10){
    flex-grow: 0;
    position: absolute;right: 620px;bottom: 0;
    width: 310px;
}
.contents>ul>li:nth-child(11){
    flex-grow: 0;
    position: absolute;right: 0;bottom: 0;
    width: 620px;
}
.contents>ul>li:nth-child(1) h3,
.contents>ul>li:nth-child(5) h3,
.contents>ul>li:nth-child(9) h3,
.contents>ul>li:nth-child(10) h3{
    display: flex;
    justify-content: center;align-items: center;color: white;
}
.contents>ul>li:nth-child(1),
.contents>ul>li:nth-child(4),
.contents>ul>li:nth-child(5),
.contents>ul>li:nth-child(9),
.contents>ul>li:nth-child(10){
    display: flex;
    justify-content: center;align-items: center;color: white;
    cursor: pointer;
}
.contents>ul>li:nth-child(1) img,
.contents>ul>li:nth-child(4) img,
.contents>ul>li:nth-child(5) img,
.contents>ul>li:nth-child(9) img,
.contents>ul>li:nth-child(10) img{
    margin: 0 auto;margin-bottom: 10px;
}
.contents>ul>li:nth-child(1){background: #e52f42;}
.contents>ul>li:nth-child(4){background: #f8f9fa;color: #000;}
.contents>ul>li:nth-child(5){background: #313033;}
.contents>ul>li:nth-child(9){background: #e52f42;}
.contents>ul>li:nth-child(10){background: #313033;}

.contents>ul>li:nth-child(2){
    background: url(../images/video.jpg) no-repeat center;
    display: flex;justify-content: center;align-items: center;
    cursor: pointer;
}
.contents>ul>li:nth-child(2):hover img{
    transform: scale(1.2);
}
.contents>ul>li:nth-child(2) img{
    transition: .3s;
}







/* slide 2 */

.bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc ;
    -webkit-box-shadow: 0 0 0px #ccc ;
    box-shadow: 0 0 0px #ccc ;
    border: 0px none;
}
.contents>ul>li:nth-child(3) .bx-wrapper .bx-pager {display: none;}

.visualWrap .bx-wrapper .bx-pager,
.visualWrap .bx-wrapper .bx-controls-auto {
  position: absolute;
  top: 620px;
  width: 100%;
}
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 40px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
  }
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: white;
  }
 
.prev,.next{
    width: 40px;height: 40px;
    display: flex;justify-content: center;align-items: center;
    color: #313033;cursor: pointer;
}
.prev i,.next i{font-size: 20px;}
.contents>ul>li:nth-child(3){height: 310px;}
.itemWrap{display: flex;}
.sItems{background: #f8f9fa;}
.sItems .sTxt,.sItems .sImg{width: 310px;height: 310px;}
.sItems .sTxt{position: relative;}
.sItems .sImg{overflow: hidden;}
.sItems .sTxt:after{
    content: "";display: block;
    width: 0px;height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent #f8f9fa;
    position: absolute;top: 50%;right: -40px;margin-top: -20px;
}
.sItems .txt{padding: 30px;}
.sItems .txt h3{font-size: 20px;}
.sItems .txt .tt1{color: #e52f42;}
.sItems .txt .tt2{color: #8e8e8e;}
.sItems .txt .tt3 span{font-weight: bold;}
.sBtn{position: absolute;bottom: 10px;display: flex;gap: 5px;left: 210px;}

.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(7),
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(11){
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contents>ul>li:nth-child(7) h2,.contents>ul>li:nth-child(7) .txt,
.contents>ul>li:nth-child(11) h2,.contents>ul>li:nth-child(11) .txt{color: white;}
.contents>ul>li:nth-child(7) h2,
.contents>ul>li:nth-child(11) h2{padding-bottom: 30px;}
.contents>ul>li:nth-child(11) img{position: absolute;top: 125px;left: 150px;}
.txt-card{
    position: absolute;
    left: 40px;top: 40px;
}
.contents>ul>li:nth-child(8){background: white;
    position: relative;
    overflow: hidden;}
.contents>ul>li:nth-child(8) .numWrap{
    height: 100%;display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contents>ul>li:nth-child(8) .eq1{
    position: absolute;right: -120px;top: 150px;
    animation: eq 2s infinite alternate;z-index: 0;
}
.contents>ul>li:nth-child(8) .eq2{
    position: absolute;left: -130px;top: -120px;
    animation: eq 2s infinite alternate;z-index: 0;
}
@keyframes eq{
    from{transform: translateY(50px) scale(0.8);}
    to{transform: translateY(0) scale(0.8);}
}
.contents>ul>li:nth-child(8) .icon{margin: 0 auto;padding: 10px;}
.contents>ul>li:nth-child(8) .txtWrap{text-align: center;}
.contents>ul>li:nth-child(8) .date{color: #656565;font-weight: bold;}
.contents>ul>li:nth-child(8) .tx{color: #656565;}
.contents>ul>li:nth-child(8) h4{font-size: 36px;font-weight: 900;padding: 10px 0;}
.contents>ul>li:nth-child(8) h4 span{font-size: 24px;font-weight: normal;}

.txt-card h2{
    font-size: 36px;font-weight: 900;color: #313033;
    padding-bottom: 10px;
}
/* .txt-card h2:after{
    content: "";display: block;width: 100px;height: 3px;
    background: black;margin: 15px 0;
} */
.txt-card .txt{font-size: 18px;padding-bottom: 90px;}
.txt-card span{font-size: 16px;}
.txt-card span:after{
    content: "";display: block;width: 80px;height: 1px;
    background: black;
}

/* sec2 */

.sec2{position: relative;}
.subbg{
    background-image: url(../images/sub-hd-vision.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;justify-content: center;align-items: center;
}

.txtWrap2{}
.itemWrap{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.itemWrap>li{
    flex-grow: 0;
    flex-basis: 25%;
    order: 10;
}

.txtWrap2>ul{display: flex;justify-content: center;align-items: center;}
.txtWrap2>ul>li{text-align: center;padding: 100px;transition: .3s;}
.txtWrap2>ul>li:hover{transform: translateY(-20px);}
.txtWrap2>ul>li>img{margin: 0 auto;padding: 20px;}
.txtWrap2>ul>li>h4{font-size: 30px;color: #e52f42;margin-bottom: 20px;}
.txtWrap2>ul>li>p{font-size: 18px;color: white;}
.title{text-align: center;}
.title>p{font-size: 18px;color: white;margin-bottom: 20px;}
.title>p:after{
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: white;
    margin: 0 auto;
    margin-top: 20px;
}
.title>h3{font-size: 48px;color: #e52f42;font-weight: bold;}
.itemWrap>li{margin: 0 auto;width: 100%;}
.wave{position: absolute;bottom: -10px;width: 100%;}

/* contents2 */

.contents2{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;display: flex;
    margin-bottom: 100px;
}

.contents2>ul>li{
    position: relative;
    flex-grow: 0;
    flex-basis: 25%;
    height: 310px;
}
.contents2 .txtWrap>h3{
    color: white;font-size: 36px;
    margin-bottom: 30px;
}
.contents2 .txtWrap>p,.contents2 .txtWrap>a{color: white;}
.contents2 .txtWrap .tt{margin-bottom: 80px;font-size: 18px;}
.contents2 .txtWrap .vm:after{
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: white;
}

.contents2 .txtWrap{
    height: 620px;width: 310px;
    background: #e52f42;
    padding: 30px;
}
.contents2>ul>li:nth-child(5){
    flex-grow: 0;
    position: absolute;right: 620px;bottom: 0;
    width: 310px;
}
.contents2>ul>li:nth-child(6){
    flex-grow: 0;
    position: absolute;right: 310px;bottom: 0;
    width: 310px;
}
.contents2>ul>li:nth-child(7){
    flex-grow: 0;
    position: absolute;right: 0;;bottom: 0;
    width: 310px;
}

/* swiper */


.swiper {
  width: 930px;
  height: 100%;
  

}

.swiper-slide {
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper ul li{width: 310px;height: 310px;}

.swiper .swiper-horizontal>.swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}
.contents2{position: relative;}
.btnWrap{
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    gap: 10px;
}
.txtWrap{position: relative;}
.swiper-button-n,.swiper-button-p{
    background: rgba(0,0,0,0,3);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
/* .swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after{visibility:hidden;} */
.newstWrap,.newstWrap2{padding: 25px;position: relative;}
.newstWrap:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -20px;
    right: 130px;
    margin-top: -20px;
    z-index: 999;
}
.newstWrap2:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    position: absolute;
    bottom: -40px;
    right: 130px;
    margin-top: -20px;
    z-index: 999;
}


.newstWrap>h3,.newstWrap2>h3{font-size: 16px;margin-bottom: 20px;font-weight: normal;}
.newstWrap .newstxt,.newstWrap2 .newstxt{font-size: 14px;color: #525252;margin-bottom: 50px;}
.newstWrap .date,.newstWrap2 .date{font-size: 14px;color: #525252;font-weight: bold;}
.sec3{
    background-image: url(../images/angookbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;width: 100%;
    background-attachment: fixed;
    display: flex;justify-content: center;align-items: center;

}
.txtWrap3{text-align: center;}
.txtWrap3>h3{font-size: 48px;color: white;margin-bottom: 20px;}
.txtWrap3>p{font-size: 18px;color: white;margin-bottom: 30px;}
.txtWrap3>a{display: flex;justify-content: center;align-items: center;}

/* footer */
#ft{background: #191919;color: #fff;}
.ft-inner{display: flex;align-items: flex-start;padding:50px 0;position: relative;}
.ft-logo{
    flex-basis: 20%;margin-bottom: 0;
}
.ft-info{flex: 1;}
.ft-info-link{margin-bottom: 10px;}
.ft-info-link ul li{display: inline-block;margin-bottom: 10px;}
.ft-info-link ul li a{color: #fff;}
.ft-info-txt,.ft-info-msg{color: #999;letter-spacing: -.75px;line-height: 1.8;}
.ft-info-copy{margin-top: 20px;color: #999}
.ft-info-link ul>li:not(:last-child) a:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0.75em;
    margin: 0 1em;
    background: #666;
}
.ft-family{
    width: 158px;
    height: 48px;
    border: .5px solid #313033;

}
.ft-family p{
    line-height: 48px;
    color: #646464;
    text-indent: 20px;
}



/* sub */

.subVisual{
    height: 500px;
    display: flex;justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subVisual .txtWrap{color:white;text-align: center;}
.subVisual h2{
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 60px;
}


.subVisual.introduction{background-image: url(../images/sub-hd-greetings\ \(1\).jpg);}
.subVisual.pr{background-image: url(../images/sub2-2.jpg);}
.subVisual.product{background-image: url(../images/sub-hd-rndhistory.png);}
.subVisual.promotion{background-image: url(../images/sub-hd-news.png);}
.subVisual.recruitment{background-image: url(../images/sub-hd-personnel.jpg);}
.subVisual.customer{background-image: url(../images/sub-hd-board.jpg);}


.sub{margin-top: -50px;}
.sub .tab{display: flex;}
.sub .tab li{
    flex:1 1 25%;height: 50px;
    display: flex;justify-content: center;align-items: center;
    background: #fff;
    cursor: pointer;
    border-bottom: 2px solid #e52f42;
    border-right: 1px solid #EDEDED;
}
.sub .tab li:last-child{border-right: none;}

.sub .tab li.active{
    background: #e52f42;
    color: white;
}
.sub .content>div{
    display: none;
    padding: 30px;
    border-top: 0 none;
}
.sub .content div:nth-child(1){display: block;}
.sub .content h2{text-align: center;margin-bottom: 30px;font-size: 48px;}
.sub .content h2:before{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #e52f42;
    margin: 0 auto;
    margin-top: 20px;
}
.sub .locat{text-align:left;margin-bottom: 10px;font-weight: bold;}
.locat i{margin-right: 5px;}
.locat .main{color: #bbb;}
.locat .sub{color: #e52f42;}
.content img{
   width: 1180px;margin: 0 auto;
}
.content p{text-align: center;}





/********** css responsive **********/
@media (max-width: 1399px) {
    .navbar>ul>li>a{
        padding: 30px 20px;
    }
    .txtWrap2 > ul > li {padding: 40px;}
    

}

@media (max-width: 1199px) {
    .navbar>ul>li>a{
        padding: 30px 20px;
    }
    .prev,.next{width: 80px;position: absolute;}
    
    .container{width: 100%;}
    .contents{margin-top: 0;}
    .contents>ul>li{
        position: relative;
        flex-grow: 1;
        flex-basis: 50%;
        height: 310px;order: 11;
    }
    .sTxt{display: none;}
    .contents>ul>li:nth-child(10){order: 1;}
    .contents>ul>li:nth-child(1){order: 2;}
    .contents>ul>li:nth-child(9){order: 3;}
    .contents>ul>li:nth-child(5){order: 4;}
    .contents>ul>li:nth-child(4){order: 5;}
    .contents>ul>li:nth-child(3){order: 6;}
    .contents>ul>li:nth-child(6){order: 7;}
    .contents>ul>li:nth-child(8){order: 8;}


    .contents>ul>li:nth-child(1),
    .contents>ul>li:nth-child(4),
    .contents>ul>li:nth-child(5),
    .contents>ul>li:nth-child(9),
    .contents>ul>li:nth-child(10){
        height: initial;padding: 50px;
    }
    .contents>ul>li:nth-child(1) img,
    .contents>ul>li:nth-child(3) img,
    .contents>ul>li:nth-child(4) img,
    .contents>ul>li:nth-child(5) img,
    .contents>ul>li:nth-child(9) img,
    .contents>ul>li:nth-child(10) img{
        width: 100%;
    }
    .contents>ul>li:nth-child(10){
        position:initial
    }

    /* .contents>ul>li:nth-child(3){width: 100%;flex-basis: auto;} */
    /* .contents>ul>li:nth-child(2) */
    /* .contents>ul>li:nth-child(7) */
    /* .contents>ul>li:nth-child(11){position: initial;} */

    .sItems .sTxt{position: relative;z-index: 1;}
    .sItems .sImg{
        /* position: relative; */
        width: initial;
        overflow: hidden;
    }
    .sItems .sImg img{
        position: absolute;
        left: 50%;top: 50%;
        transform: translate(-50%,-50%) scale(1.0);
    }
    .sBtn{left: 40px;}
    
    
    .itemWrap>li{
        flex-grow: 0;
        flex-basis: 50%;
        order: 10;
    }
    .subbg{height: 1000px;}
    /* footer */
.ft-inner{display: block; padding:50px 30px;position: relative;}
.ft-logo{
    flex-basis: 20%;margin-bottom: 10px;
}
.ft-info{flex: 1;}
.ft-info-link{margin-bottom: 10px;}
.ft-info-link ul li{display: inline-block;margin-bottom: 10px;}
.ft-info-link ul li a{color: #fff;}
.ft-info-txt,.ft-info-msg{color: #999;letter-spacing: -.75px;line-height: 1.8;}
.ft-info-copy{margin-top: 20px;color: #999}
.ft-info-link ul>li:not(:last-child) a:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0.75em;
    margin: 0 1em;
    background: #666;
}
.ft-family{
    margin-top: 30px;
    width: 158px;
    height: 48px;
    border: .5px solid #313033;

}
.ft-family p{
    line-height: 48px;
    color: #646464;
    text-indent: 20px;
}
.contents>ul>li:nth-child(3) .sBtn{display: none;}    

.toggle{
    display: flex;justify-content: center;align-items: center;
    margin-left: auto;width: 20px;height: 20px;padding: 20px 10px;
    position: relative;z-index: 1;
    cursor: pointer;
}
.navbar{display: none;}
.toggle div{
    width: 20px;height: 4px;background: #fff;
    position: absolute;transition: .5s;
}
.toggle div.fixed{background: #000;}

.toggle .bar1{transform: translateY(-8px);}
.toggle .bar3{transform: translateY(8px);}

.toggle.active .bar1{transform: translateY(0) rotate(315deg);}
.toggle.active .bar2{opacity: 0;}
.toggle.active .bar3{transform: translateY(0) rotate(-315deg);}
.toggle.active div{background-color: #000;}
.navbarClone{
    display: block;
    position: fixed;
    top: 0;right: 0;
    width: 60%;height: 100%;background: white;
    transition: 0.5s;
}
.overlay{
    display: block;
    position: fixed;
    width: 100%;height: 100%;
    right: 0;top: 0;
    background: #000;
    opacity: 0.5;
}

.menu{padding: 80px 0;}
.menu>li{display: block;}
.menu>li>a{
    display: flex;height: 40px;align-items: center;justify-content: space-between;
    padding: 30px 20px;font-weight: bold;font-size: 17px;color: #111;
}
.menu>li>a i{transition: .3s;font-size: 10px;color: #c4c4c4;}
.menu>li.hover .submenu{
    display: block;
}
.menu>li>a.active i{
    transform: rotate(180deg);
}
.menu>li .submenu{background: #F8F8F8;padding: 10px 20px;}
.menu>li .submenu a{
    display: block;line-height: 30px;
    padding: 5px;
}
.submenu{display: none;}
.submenu>li{text-align: left;}
.lang{display: none;}
.sItems .sTxt,.sItems .sImg{flex-grow: 1;}

    
}

@media (max-width: 991px) {
    .navbarWrap{padding: 10px 20px;}
    .txt{overflow: hidden;}
    
  

}

@media (max-width: 767px) {
    
    .navbarWrap>h1{margin-left: -50px;}
    .container{width: 100%;}
    .navbarWrap>h1{transform: scale(0.7);}

    
    
    /* visual */

    .visualWrap{
        position: relative;
        height: 100vh;
    }
    .visualWrap .slidetxtWrap{
        display: flex;justify-content: center;align-items: center;
        text-align: center;
        color: white;
        font-size: 30px;
    }
  
    .visualWrap .slidetxtWrap .slidetxt{
        position: absolute;top: 300px;left: 30px;
        text-align: left;
    }
    .visualWrap .slidetxtWrap .num{display: block;}
    .visualWrap .slidetxtWrap h2{font-size: 40px;margin-bottom: 20px;font-weight: 900;}
    .visualWrap .slidetxtWrap h2 span{color: #e52f42;}
    .visualWrap .slidetxtWrap p{font-size: 15px;}
    .visualWrap .slideItem{
        height: 100vh;min-height: 800px;
        background-color: orange;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .snext,.sprev{
        position: absolute;
        top: 715px;
        margin-top: -50px;
        cursor: pointer;
        transform: scale(0.3);
    }
    .snext{right: 10px;}
    .sprev{left: 10px;}
    .visualWrap li>img{width: 100%;}

    .visualWrap .bx-wrapper .bx-pager,
.visualWrap .bx-wrapper .bx-controls-auto {
  position: absolute;
  top: 670px;
  width: 100%;
}
.visualWrap .bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 30px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
  }
  .contents{
    margin-top: -50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.sItems .sTxt,.sItems .sImg{flex-grow:1}
.sItems .sImg img{
    transform: translate(-50%,-50%) scale(1.2);
 }

 .contents>ul>li:nth-child(6),
 .contents>ul>li:nth-child(7),
 .contents>ul>li:nth-child(11){
    width: 100%;
    flex-basis: auto;
    height:300px;
 }
 .contents>ul>li:nth-child(8){
    position: relative;width: 100%;flex-basis: auto;height: 800px;
}
.contents>ul>li:nth-child(8) div{flex-direction: column;}
.contents>ul>li:nth-child(8) .eq1{
    position: absolute;left: 300px;top: 600px;
    animation: eq 2s infinite alternate;z-index: 0;}


 .contents>ul>li:nth-child(2){background-size: cover;}

 .contents2 .txtWrap h3{}
    
 .sec3{height: 400px;}
 .txtWrap3>h3{font-size: 36px;color: white;margin-bottom: 20px;}
 .txtWrap3>p{font-size: 16px;color: white;margin-bottom: 30px;}
 .txtWrap3>a{display: flex;justify-content: center;align-items: center;}
}
/* .sub .tab{flex-wrap: wrap;position: relative;}
.sub .tab li{
    position: relative;
    flex-grow: 1;
    flex-basis: 25%;
    order: 11;} */




    
/* swiper */





@media (max-width: 575px) {
    .contents>ul>li:nth-child(3){height: 250px;}
    .sItems .sTxt,.sItems .sImg{height: 250px;}
    .txtWrap2>ul>li>h4{font-size: 24px;}
    .txtWrap2>ul>li>p{font-size: 16px;}
    .title>p{font-size: 18px;}
    .title>h3{font-size: 36px;}
    
} 


/* common */
.bg_gray{background: #eee !important;}
