@charset "utf-8";


        
.navbar{width: 1280px;margin: 0 auto;}
.visual{position: relative;height: 100vh;min-height: 800px;}
.visual .txtWrap{
    position: absolute;width: 1280px;left: 50%;
    margin-left: -640px;color: white;height: 100%;
}
.visual .txtWrap .txt{position: absolute;top: 40%;}
.visual .txtWrap h2{font-size: 80px;margin-bottom: 20px;}
.visual .txtWrap p{font-size: 24px;}
.visual .slideItem{
    height: 100vh;min-height: 800px;
    background-color: orange;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.next,.prev{position: absolute;top: 50%;margin-top: -50px;cursor: pointer;}
.next{right: 0;}
.visual li>img{width: 100%;}

.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
    bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
}

.headerWrap{
    background-color: white;position: absolute;
    z-index: 1;width: 100%;
}
.headerWrap h1{float: left;margin-top: 16px;}
.headerWrap li{float: right;width: calc( 510px / 3 );}
.headerWrap li a{display: block;line-height: 76px;text-align: center;font-weight: 700;font-size: 20px;}



/* .headerWrap{width: 1901px;height: 83.08px;background-color: #333;}
.headerWrap .header{width: 1280px;margin: 0 auto;position: relative;}
.headerWrap h1{float: left;width: 165px;position: absolute;left: 30px;top: 20px;}
.headerWrap .navbar{width: 530px;float:right;position: absolute;right: 20px;}
.headerWrap .navbar li{float: left;width: 33.33%;text-align: center;line-height: 76px;}
.headerWrap .navbar a{font-weight: 700;font-size: 20px;display: inline-block;color: white;}

.visual{background-color: skyblue;margin-bottom: 20px;}
.visual img{margin: 0 auto;width: 100%;}
.visual .visualTxt{position: absolute;left:calc( 50% - 479px );top: 200px;}
.visual .visualTxt h1{margin-bottom: 14px;font-size: 80px;font-weight: 700;height: 210px;color: white;}
.visual .visualTxt p{margin-bottom: 20px;font-size: 24px;font-style: bold;color: white;}

.container{width: 1280px;margin: 0 auto;}
.sec1 li{
    float: left;width: calc( ( 100% - 20px * 2 ) / 3 );
    margin-right: 20px;background: blue;position: relative;
}
.sec li:last-child{margin-right: 0;}
.sec li img{width: 100%;}

.sec1 h2{text-align: center;margin-bottom: 10px;}
.sec1>p{text-align: center;margin-bottom: 20px;}

.line:after{
    content: "";display: block;width: 50px;height: 2px;
    background-color: #000;margin: 10px auto;
} */
