@charset "utf-8";


      
.navbar{width: 1280px;margin: 0 auto;}
.visual{position: relative;height: 100vh;min-height: 800px;;}
.visual .txtWrap{
    position: absolute;width: 1280px;left: 50%;
    margin-left: -640px;color: white;height: 100%;
}
.visual .txtWrap .txt{position: absolute;top: 40%;}
.visual .txtWrap h2{font-size: 80px;margin-bottom: 20px;}
.visual .txtWrap p{font-size: 24px;}
.visual .slideItem{
    height: 100vh;min-height: 800px;
    background-color: orange;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.next,.prev{position: absolute;top: 50%;margin-top: -50px;cursor: pointer;}
.next{right: 0;}
.visual li>img{width: 100%;}

.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
    bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
}

.headerWrap{
    background-color: white;position: absolute;
    z-index: 1;width: 100%;
}
.headerWrap h1{float: left;margin-top: 16px;}
.headerWrap li{float: right;width: calc( 510px / 3 );}
.headerWrap li a{display: block;line-height: 76px;text-align: center;font-weight: 700;font-size: 20px;}


.sec01{padding-top: 160px;padding-bottom: 160px;}

/* container */
.container{width: 1280px;margin: 0 auto;position: relative;}

/* content 1st */
.container.cont1st .titleWrap{margin-bottom: 100px;}
.container.cont1st .title{padding-bottom: 20px;position: relative;text-align: left;}

.container.cont1st h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
    text-indent: -2px;
}
.container.cont1st h1:after{
    content: "";position: absolute;
    bottom: 0;left: 0;width: 70px;height: 5px;
    background-color: #ffd44a;
}
.container.cont1st .sub{padding-left: 600px;
    font-size: 18px;
    line-height: 1.56;}

.container.cont1st li{
    float: left;width: calc( ( 100% - 32px * 2 ) / 3 );margin-right: 32px;
}
.container.cont1st li:last-child{
    margin-right: 0;
}
.container.cont1st li:hover .card{
    transform: translate(0,-20px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.container.cont1st .card img{width: 100%;}

.card{transition: 0.3s;}
.card img{width: 100%;transition: 0.3s;}


.txtbox{padding: 20px 16px 0;margin-bottom: 160px;}
.txtbox .tit{display: inline-block;
    padding-right: 28px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAD9JREFUOBFjYBgFQyoEfICuFaKWi5mBBp0G4vPUNBTkOpCBw8xQJqCX6AqoGo5UNYwmyYaqCZuuETVqGWoIAABn3gznYxD0xQAAAABJRU5ErkJggg==) no-repeat right 50%;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.52;}
    .txtbox .txt{display: block;margin-top: 7px;
        font-size: 14px;
        line-height: 1.6;}



/* cont2st */

.container.cont2st{position: relative;height: 462px;}
.txtBox{
    width: 1150px;height: 338px;background-color: #ffd44a;
    padding: 102px 520px 102px 104px;
    box-sizing: border-box;
}
.txtBox h3{font-size: 27px;font-weight: 500;line-height: 1.43;letter-spacing: -1px}
.txtBox p{
    display: block;
    margin-top: 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47;
}
.imgF{position: absolute;right: 10px;top: 100px;}

.sec02{background-color: #f7f8f9;padding-top: 160px;padding-bottom: 160px;}

.container1{width: 1280px;margin: 0 auto;position: relative;margin-bottom: 30px;}
.container1 .txtWrap{padding-bottom: 20px;position: relative;text-align: left;margin-bottom: 60px;}
.container1 h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
    text-indent: -2px;
}
.container1 h1:after{
    content: "";position: absolute;
    bottom: 0;left: 0;width: 70px;height: 5px;
    background-color: #ffd44a;
}

.container1 li{
    float: left;width: calc( ( 100% - 32px * 2 ) / 3 );margin-right: 32px;
}
.container1 li:last-child{
    margin-right: 0;
}
.container1 li:hover .card1{
    transform: translate(0,-20px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);width: 100%;transition: 0.3s;
}
.container1 .card1 {
    width: 400px;height: 466px;
    background: white;transition: 0.3s;
    border-radius: 4px;position: relative;cursor: pointer;
}
.container1 .txtbox1{padding: 32px;}
.container1 .tit{font-size: 21px;font-weight: 700;line-height: 1.52;}
.container1 .txt{margin-top: 12px;font-size: 15px;color: rgba(30,30,30,.6);}
.container1 .date{position: absolute;left: 32px;bottom: 32px;color: rgba(30,30,30,.4);font-size: 13px;line-height: 1.54;}



/* footer */
.footerWrap{background-color: #171717;padding: 64px 0;}
.footIn{width: 1280px;margin: 0 auto;}
.topMove{float: right;width: 60px;height: 45px;background-color: #404040;}
.footerWrap .policy{margin-top: 46px;}
.footerWrap .footIn .copy{color: hsla(0,0%,88.2%,.5);font-size: 11px;margin-top: 26px;}
.policy li{float: left;position: relative;}
.policy li:after{
    content: "";display: block;width: 1px;height: 13px;
    background-color: hsla(0,0%,88.2%,.7);position: absolute;right: 0;top: 6px;
}
.policy li:last-child:after{display: none;}
.policy li:first-child a{padding-left: 0;}
/* .ftNav li:first-child:before{content: "";display: block;width: 1px;height: 13px;background-color: #CCC;position: absolute;left: 0;right: 17px;
    content: "";display: block;width: 1px;height: 13px;
    background-color: #CCC;position: absolute;right: 0;top: 17px;
} */
.policy li a{
    display: block;margin: 0 10px;font-size: 12px;
    color: hsla(0,0%,88.2%,.7);line-height: 20px;letter-spacing: -1.6px;
}
.policy li a:first-child{margin-left: 0;
}



