@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}


.container{
    width: 1200px;margin: 0 auto;
}

#header{}
.headerTopWrap{background: #156547;}
.headerTop .collWrap{float: left;}
.headerTop .collWrap li{float: left;width: 120px;background: #143d01;font-size: 16px;margin-right: 2px;}
.headerTop .collWrap li a{color: #fff;display: block;line-height: 42px;text-align: center;}
.headerTop .collWrap li:hover{background: #fff;}
.headerTop .collWrap li:hover a{color: #000;}
.headerTop .collWrap li.active{background-color: #fff;}
.headerTop .collWrap li.active a{color: #000;}

.headerTop .utilWrap{float: right;}
.headerTop .utilWrap li{float: left;font-size: 14px;}
.headerTop .utilWrap li>a{
    color: #fff;display: block;height: 42px;padding: 0 10px;
    display: flex;justify-content: center;align-items: center;
}
.headerTop .utilWrap li:nth-child(1){
    color: #fff;display: block;height: 42px;padding: 0 10px;
    display: flex;justify-content: center;align-items: center;
}
.headerTop .utilWrap li:nth-child(2){padding-top: 10px;}
.headerTop .utilWrap li:nth-child(2) a{width: 20px;height: 20px;background-color: #fff;color: #000;
    float: left;margin-right: 1px;
}

.headerBottom{width: 1200px;margin: 0 auto;}
.headerBottom h1{padding: 32px 0;width: 224px;float: left;}
.navbarR{width: 742px;float: right;position: relative;}
.menuL{width: 600px;}
.menuL>ul>li{float: left;width: 20%;}
.menuL>ul>li>a{display: block;line-height: 114px;text-align: center;font-size: 20px;color: #464646;}
.menuR{position: absolute;left: 652px;bottom: 34.5px;}
.menuR img{float: left;cursor: pointer;}


/* section */
#section{
    padding: 70px 0;
    /* background-color: blue;
    height: 1300px; */
    background-image: url(../images/dot.png),url(../images/main_bg.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
}
#section .sec1st{
    height: 140px;
    margin-bottom: 50px;
    position: relative;
}
#section .sec1st h1{font-size: 50px;color: white;font-weight: lighter;letter-spacing: -5px;}
#section .sec1st h1 span{font-size: 60px;font-weight: 700;}
#section .sec1st ul{position: absolute;right: 0;bottom: 11.5px;}
#section .sec1st li{float: left;margin: 0 12px;}
#section .sec1st li p{text-align: center;color: white;margin-top: 4px;}



#section .sec2st>ul>li{float: left;width: 300px;height: 225px;}

#section .sec2st>ul>li{background: white;}
#section .sec2st>ul>li:nth-child(2n){background-color: pink;}

#section .sec2st>ul>li:nth-child(1){width: 900px;height: 450px;}
#section .sec2st>ul>li:nth-child(2){width: 300px;height: 450px;}
#section .sec2st>ul>li:nth-child(3){width: 300px;height: 224px;}
#section .sec2st>ul>li:nth-child(4){width: 300px;height: 224px;}
#section .sec2st>ul>li:nth-child(5){width: 300px;height: 224px;}
#section .sec2st>ul>li:nth-child(6){width: 300px;height: 224px;}
#section .sec2st>ul>li:nth-child(7){width: 300px;height: 224px;}
#section .sec2st>ul>li:nth-child(8){width: 900px;height: 224px;}

