@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}

.headerWrap{height: 156px;background-color: white;}
.headerTopWrap{height: 42px;background: #156547;}
.headerTop{width: 1200px;margin: 0 auto;}
.headerL{width: 364px;float: left;}
.headerL li{width: 120px;float: left;height: 42px;
    float: left;transition: 0.3s;}
.headerL li:nth-child(1){background-color: white;margin-right: 2px;}
.headerL li:nth-child(2){background-color: #143d01;margin-right: 2px;}
.headerL li:nth-child(3){background-color: #143d01;}
.headerL li a{display: block;text-align: center;line-height: 42px;color: #6b6b6b;}
.headerR{width: 300px;float: right;}
.headerR li{float: left;height: 42px;position: relative;margin-right: 9px;}
.headerR li:nth-child(2){width:42px;}
.headerR li:nth-child(5){margin-right: 0;}
.headerR li .box1{width: 16px;height: 16px;background-color: white;position: absolute;top: 13px;left: 4px;}
.headerR li .box2{width: 16px;height: 16px;background-color: white;position: absolute;top: 13px;left: 22px;}
.headerR li a{font-size: 13px;color: white;font-weight: 500;display: block;text-align: center;line-height: 42px;}

.navbar{width: 1200px;margin: 0 auto;}
.navbar h1{padding: 32px 0;}


    
