// color 
$fcolor1:#333;
$fcolor2:#fff;
$pColor1:#eee;
$shadow1:0 0 10px rgba(0,0,0,.5);

body{font-family: 'Montserrat', sans-serif;}
*{margin: 0;padding: 0;}
a:link,a:visited{text-decoration: none;color:$fcolor1}
ul,li{list-style: none;}
.container{max-width: 1840px;}
.p2{font-size: 20px;}
h2{font-size: 3em;color:$fcolor2;text-shadow: $shadow1;}

// nav
.logo{width: 92px;height: 53px;margin: 10px;}
.max{width: 100%;}
.nav-item{
    padding: 0 30px;
    position: relative;
    
}



.page1{
    #myVideo{
        position: absolute;
        width: 100%;height: 100%;
        left: 50%;top: 50%;
        background-color: $pColor1;
        object-fit:cover;
    }
}
.page2{
    
}

.section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &.page1{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        #myVideo{
            position: absolute;
            width: 100%;height: 100%;
            left: 50%;top: 50%;
            transform: translate(-50%,-50%);
            object-fit: cover;
        }
    }
    &.page2{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background-image: url(../images/section2-bg.jpg);
    }
    &.page3{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background-image: url(../images/section3-bg.jpg);
    }
    &.page4{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background-image: url(../images/section4-bg.jpg);
    }
    &.page5{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background: #02142b;
    }
    &.footer{background: #02142b;}
}