// color 
$fcolor1:#333;
$fcolor2:#fff;
$fcolor3:#16CAE5;
$pColor1:#eee;
$shadow1:0 0 10px rgba(0,0,0,.5);

body{font-family: 'Montserrat', sans-serif;}
*{margin: 0;padding: 0;}
a:link,a:visited{text-decoration: none;color:$fcolor1}
dl, ol, ul {margin: 0;}
ul,li{list-style: none;}
ol, ul {
    padding-left: 0;
}
.hidden{
    height: 0;width: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    padding: 0;border: 0;
}
.container{
    max-width: 1840px;
}
.container1{
    padding: 0 80px;
}
#fp-nav li:nth-child(6){display: none;}
.bold{font-weight: bold;}
.p2{font-size: 20px;}
h1{font-size: 120px;font-weight: bold;color: #16CAE5;}
h2{font-size: 72px;color: $fcolor2;}
h3{font-size: 62px;font-weight: bold;color: $fcolor2;}
h4{font-size: 50px;font-weight: bold;color: $fcolor2;}
h5{font-size: 40px;color: $fcolor2;font-weight: lighter;}
.btn-close{
    position: absolute;top: 35px;right: 30px;
    background: url(../images/close.svg) center/1.5em auto no-repeat;;
}
// nav
.logo{width: 92px;height: 53px;margin: 10px;}
.max{width: 100%;}
.nav-item{
    padding: 0 30px;
    position: relative;
    span{
        top: -6px;font-size: 12px;color: #16CAE5;background: #fff;
        width: 18px;height:16px;border-radius: 7px;text-align: center;
        right: 30px;line-height: 16px;cursor: pointer;
    }
}
.navbar-toggler{
    border: none;
    
}
.navbar-toggler-icon{
    background-image: url(../images/tggle.png);
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 100%;}
.offcanvas{background:#16CAE5;}
.offcanvas-body{text-align: center;display: flex;justify-content: center;align-items: center;}
.wrap{
    width: 100%;text-align: left;
    display: flex;align-items: center;}
.page1{
    .txtWrap{
        z-index: 1;
        color: white;
        h2{
            font-weight: bold;
            margin-bottom: 80px;
        }
        .btn{
            background: white;
            border: none;
            color: #16CAE5;
            padding: 12px 28px;
            border-radius: 30px;
            font-weight: bold;
            font-size: 20px;
        }
    }
    #myVideo{
        width: 100%;height: 100%;
        object-fit:cover;
    }
}
.section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &.page1{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }
        .shareWrap{
            transform: translate(0,0);
            right: 60px;
            bottom: 150px;
            position: absolute;
            z-index: 50;
            width: 56px;
            height: 56px;
            cursor: pointer;
            ul{
                opacity: 0;
                position: absolute;
                width: 270px;
                top: 0;
                display: flex;
                right: 28px;
                height: 100%;
                align-items: center;
                background: #16cae5;
                transition: .4s;
                border-radius: 30px;
                overflow: hidden;
                gap: 20px;
                
                li{
                    a{
                        font-size: 27px;
                        color: #aee5ed;
                        transition: .3s;
                    }
                    :hover{
                        color: white;
                    }
                }
                li:first-of-type {
                    margin-left: 0;
                    padding-left: 18px;
                }
                
            }
            ul.view{
                opacity: 1;
            }
            .shareBtn{
                background: #16cae5;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 0 0 20px rgba(0,0,0,.2);
                width: 56px;height: 56px;
                color: #fff;
                font-size: 30px;
                padding-right: 2px;
                z-index: 1;
                position: relative;
            }
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        #myVideo{
            position: absolute;
            width: 100%;height: 100%;
            left: 50%;top: 50%;
            transform: translate(-50%,-50%);
            object-fit: cover;
        }
    }
    &.page2{
        .swiper-slide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }
        .btn{
            background: #16CAE5;
            border: none;
            color: #fff;
            padding: 12px 28px;
            border-radius: 30px;
            font-weight: bold;
            font-size: 20px;
            margin-top: 50px;
        }
        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background-image: url(../images/section2-bg.jpg);
    }
    &.page3{
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }
        .quarter-li{
            height: 100%;
            position: relative;
            display: flex;align-items: center;
            z-index: 2;

            li{
                border-right: 1px solid rgba(255,255,255,.25);
                height: 100%;
                width: 33.33%;
                &:hover{
                    transition:.4s;
                    background: rgba(18,171,194,.6);
                    .info{opacity: 1;}
                }
                
                a{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;justify-content: center;align-items: center;
                    div{
                        color: #fff;
                        margin-top: 140px;display: flex;
                        flex-direction: column;
                        justify-content: center;align-items: center;
                        img{
                            margin-bottom: 20px;
                        }
                        .sb{
                            color: #16CAE5;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .info{
                            font-size: 20px;
                            color: white;
                            margin-top: 30px;
                            line-height: 1.8;
                            transition: opacity .4s;
                            opacity: 0;
                        }
                    }
                }

            }
            
        }
        
        
        

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background-image: url(../images/section3-bg.jpg);
    }
    &.page4{
        .txtWrap{
            position: relative;
            .swiper-button-next{
                position: absolute;right: 0px;
                width: 50px;height: 50px;
                background-image: url(../images/right_btn.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .swiper-button-prev{
                position: absolute;right: 70px;left: auto;
                background-image: url(../images/left_btn.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 50px;height: 50px;

            }
        }
        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {display: none;}
        .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display: none;}
        .swiper-slide {
            .new-img{
                margin-bottom: 30px;
                position: relative;
                overflow: hidden;
                img{width: 100%;height: 100%;}
            }
            .newstWrap{
                display: flex;
                .line{
                    content: '';
                        display: inline-block;
                        width: 3px;
                        height: 50px;
                        margin: 0 10px 0 0;
                        background: #16CAE5;
                        margin-top: 6px;
                        
                }
            }
            
        }
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
        background-image: url(../images/section4-bg.jpg);
    }
    &.page5{
        background-image: url(../images/finbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .contact-top{
            margin-bottom: 50px;
            ul{
                li{
                    strong{
                        width: 200px;
                        display:inline-block;
                        color: #16CAE5;
                    }
                }
            }
        }
        .contact-btm{
            p{
                position: relative;
                label {
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    span{
                        color: #16CAE5;
                        margin-left: 4px;
                    }
                }
                input{
                    font-size: 14px;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: white;
                    background: none;
                    padding: 8px 8px 8px 100px;
                    z-index: 1;
                }
            }
            .message{
                position: relative;
                label{
                    position: absolute;
                    top: 24px;
                    transform: translateY(-50%);
                    left: 14px;
                }
                textarea{
                    background: rgba(255,255,255,.08);
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 39px 15px 15px 15px;
                    height: 140px;
                    color: white;
                }
            }
            .agree{
                position: relative;
                input{
                    position: absolute;left: -432px;top: -8px;
                }
            }
            .btn{
                color: white;
                border: 1px solid #fff;
                &:hover{
                    background: white;
                    color: #333;
                }
            }
        }
        .conMap{
            width: 100%;
            position: absolute;height: 100%;top: 0;left: 0;overflow: hidden;
            .map{
                position: relative;

                .loc{
                    position: absolute;
                    transform: translate(430px, 300px);
                    top: 50%;
                    left: 500px;
                }
            }
        }
        .scrollBtn{
            position: absolute;
            z-index: 1;
            left:50%;transform:translateX(-50%);
            animation:xScroll 1s infinite alternate
        }

        @keyframes xScroll {
            0%{bottom: 20px;}
            100%{bottom: 50px;}
        }
    }
    &.footer{
        background: #02142b;
        .logo-box{display: flex;align-items: center;}
        div{
            opacity: .8;
            a{
                color: white;
                font-weight: bold;
                img{
                    width: 92px;
                    height: 53px;
                }
            }
        }
        
    }
}

//sub

.subVisual{
    height:350px;
    display: flex;justify-content: center;
    align-items: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .txtWrap{
        color:white;text-align: center;
        h2{
            margin-bottom: 20px;
            text-shadow: 0 0 10px rgba(0, 0, 0, 1);
            font-size: 80px;
            font-weight: bold;
        }
    }
}




.subVisual.company{background-image: url(../images/sub-visual1.jpg)}


@media (max-width: 1399px) {
    
}
@media (max-width: 1199px) {
   
    h2{
        font-size: 65px;
    }
    .section{
        &.page3{
            .quarter-li {
                flex-direction: column;height: 100%;
                li{
                    border-bottom: 1px solid rgba(255,255,255,.25);
                    border-right: none;
                    width: 100%;
                    h4{
                        font-size: 24px;
                    }
                    a{
                        div{
                            margin-top: 0;
                            img{
                                margin: 0;transform: scale(.7);
                            }
                            .sb{
                                font-size: 15px;
                            }
                            .info{
                                font-size: 12px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
}

@media (max-width: 991px) {

    .offcanvas-body span{display: none;}
    .footerWrap{
        flex-direction: column;
    .inf{
        flex-direction: column;
    }  
    }
    h5{
        font-size: 5vw;
    }
    h2{
        font-size: 7vw;
    }
    #fp-nav ul li{margin: 4px 0;transform: scale(.7);}
    .page1{
        .txtWrap{
            h2{margin-bottom: 30px;}
            .btn{
                font-size: 16px;
                padding: 8px 24px;
            }
        }
    }
    .page2{
        h1{
            font-size: 80px;
        }
        .btn{
            margin-top: 0;
        }
        .txtWrap{
            margin-bottom: 100px;
            h3{font-size: 36px;}
            .btn{
                font-size: 16px;
                padding: 8px 24px;
            }
        }
    }
    
    .page5{
        ul{
            li{
                flex-direction: column;
            }
        }
    }
    
    
}

@media (max-width: 767px) {
    .page4{
        .txtWrap{
            .swiper-button-next{display: none;}
            .swiper-button-prev{display: none;}
        }
    }
}