@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

/* header */
.headerTopWrap{border-bottom: 1px solid #dcdcdc;margin-bottom: 16px;}
.headerTop{width: 980px;margin: 0 auto;}
.topMenu ul{float: right;}
.topMenu li{float: left;position: relative;}
.topMenu li:after{
    content:"";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.topMenu li:last-child:after{display: none;}
.topMenu li a{display: block;padding: 7px 10px;font-size:12px;line-height: 12px}


#headerWrap h1{
    margin: 0 auto;width: 151px;
    }
#headerWrap h1 a{color:#333;font-size: 24px;}

#headerWrap .toggle{
    width: 48px;height: 48px;
    border: 1px solid #cdcdcd;
    position: absolute;
    left:calc( 50% + 980px / 2 - 48px );top:38px;
    cursor:pointer
}
.toggle div{
    width: 20px;height: 2px;background-color: #666;
    position: absolute;left:calc( 50% - 10px);
    top:calc( 50%  - 1px )
}
.toggle div:first-child{top:calc( 50% - 9px)}
.toggle div:last-child{top:calc( 50% + 7px)}

.mainMenuWrap{background-color: #1D5DA4;margin-top: 17px;}
.navbar{width: 980px;margin: 0 auto;}
.navbar>ul>li{
    float: left;width: calc( 100% / 6 );
    border-left: 1px solid #336DAC;
}
.mainMenuWrap .navbar li:last-child{border-right: 1px solid #336DAC;}
.navbar>ul>li>a{display: block;line-height: 45px;color: white;text-align: center;}
.mainMenuWrap .navbar li a:hover{background-color: #336DAC;}

/* visual */
.visualWrap{
    /* background-image: url(../images/main_bg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #213C6B; */
    background:#213C6B url(../images/main_bg01.jpg) no-repeat center;
}
.visualWrap .visual{
    width: 980px;height: 400px;margin: 0 auto;position: relative;
    overflow:hidden
}
.visualWrap .visual .txt{
    position: absolute;top: 100px;
    color:#EFF0EE;
}
.visualWrap .visual h3{
    line-height: 80px;font-size:76.6px ;letter-spacing: 0.34em;
    margin-bottom: 10px;
    
}
.visualWrap .visual img{position: absolute;right: 0;}

.box{background: #f00; height: 300px;}
